2021-net-turma1/Pedro/.vs
2021-net-turma1/Pedro/packages
2021-net-turma1/Pedro/TreinamentoBitzen/bin
2021-net-turma1/Pedro/TreinamentoBitzen/obj
2021-net-turma1/Pedro/TreinamentoBitzen.Dados/bin
2021-net-turma1/Pedro/TreinamentoBitzen.Dados/obj
2021-net-turma1/Pedro/TreinamentoBitzen.RegrasNegocio/bin
2021-net-turma1/Pedro/TreinamentoBitzen.RegrasNegocio/obj

*.csproj.user
.vs
.vs/*