2021-net-turma1/*/.vs
2021-net-turma1/*/packages
2021-net-turma1/*/TreinamentoBitzen/bin
2021-net-turma1/*/TreinamentoBitzen/obj
2021-net-turma1/*/TreinamentoBitzen.Dados/bin
2021-net-turma1/*/TreinamentoBitzen.Dados/obj
2021-net-turma1/*/TreinamentoBitzen.RegrasNegocio/bin
2021-net-turma1/*/TreinamentoBitzen.RegrasNegocio/obj

*.csproj.user
.vs
.vs/*