2021-net-turma1/Djakson/.vs
2021-net-turma1/Djakson/packages
2021-net-turma1/Djakson/TreinamentoBitzen/bin
2021-net-turma1/Djakson/TreinamentoBitzen/obj
2021-net-turma1/Djakson/TreinamentoBitzen.Dados/bin
2021-net-turma1/Djakson/TreinamentoBitzen.Dados/obj
2021-net-turma1/Djakson/TreinamentoBitzen.RegrasNegocio/bin
2021-net-turma1/Djakson/TreinamentoBitzen.RegrasNegocio/obj

*.csproj.user
.vs
.vs/*